.form-box * {
    color: #5f7e86;
}

.logosFlex * {
    color: #006dae !important;
    font-size: 13px;
}

.logo-text {
    font-size: clamp(1rem, 4vw, 1.5rem);
}

.col-md-3 label {
    font-weight: bold;
}

.leeForm {
    max-width: 90%;
    margin: 2rem auto;
    border: 1px solid;
}

.form-group {
    margin-bottom: 15px;
    grid-template-columns: 1fr 3fr;
    border-top: 1px solid;
    border-bottom: 1px solid;
    align-items: center;
}

.form-group label {
    padding: 10px;
    margin: 0;
}

.border_bottom {
    border-bottom: 1px solid #000;
}

.form-box {
    margin: 2rem .5rem;
}

.form-box p {
    margin: 0;
}


/**  css start ***/

.form-box-content {
    border: 1px solid #000;
}


/* .right-border{
border-right: 1px solid #000;
} */

.form-group {
    height: 100%;
    border: 1px solid;
    margin-bottom: 0;
    padding: 2px 5px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
}

.form-control {
    border: 1px solid;
}

.btn-box {
    justify-content: flex-end !important;
    align-content: end;
    flex-flow: unset!important;
}

.logosFlex {
    display: flex;
    flex-wrap: wrap;
}

.logosFlex>* {
    flex: 1 1 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logofile {
    margin-top: 2rem;
    padding-bottom: .6rem;
}